$breakpoint: 768px;
$tablet-breakpoint: 1000px;

@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

@mixin screen($break-point-min, $break-point-max) {
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
    @content;
  }
}

@mixin pc() {
  @include min-screen($tablet-breakpoint) {
    @content;
  }
}

@mixin tablet() {
  @media screen and (min-width: $breakpoint) and (max-width: $tablet-breakpoint - 1px) {
    @content;
  }
}

@mixin sp() {
  @include max-screen($breakpoint - 1px) {
    @content;
  }
}

//1240px(タブレットサイズ)以下適用
@mixin less-tb() {
  @include max-screen($tablet-breakpoint - 1px) {
    @content;
  }
}
//768px(スマホサイズ)以上適用
@mixin more-sp() {
  @include min-screen($breakpoint) {
    @content;
  }
}

@mixin flex() {
  display:-webkit-box;
  display: flex;
}

@mixin flex-pc($left-box-width: 50%) {
  @include pc() {
    @include flex();
    .left-box {
      width: $left-box-width;
    }
    .right-box {
      width: calc(100% - #{$left-box-width});
    }
  }
}

@mixin ai-center() {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@mixin jc-center() {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

@mixin fd-column() {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

@mixin fd-row-reverse() {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin jc-space-between() {
  -webkit-box-pack: justify;
	justify-content: space-between;
}

@mixin jc-flex-start() {
  -webkit-box-pack: start;
	justify-content: flex-start;
}
@mixin jc-flex-end() {
  -webkit-box-pack: end;
	justify-content: flex-end;
}

@mixin thumbnail() {
  position: relative;
  width: 100%;
  overflow: hidden;
  &:before {
    content:"";
    display: block;
    padding-top: 75%;
  }
  ._img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// 長文になった際に省略して三点リーダーを表示、変数で行数を指定
@mixin any-lines($number-of-line: 2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $number-of-line;
  overflow: hidden;
}
