/*
  BASE
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

.surface-primary {
  background-color: #fff;
}

.surface-secondory {
  background-color: #141021;
  opacity: .5;
}

.surface-teriary {
  background-color: #141021;
  opacity: .1;
}

.form-control {
  @apply p-2 rounded border-solid border-1 border-gray-50 bg-gray-10 text-gray-90 focus:bg-secondary-10 focus:border-focus;
}

.border-1-solid {
  @apply border-1 border-solid;
}

.border-2-solid {
  @apply border-2 border-solid;
}

.flex-ij-center {
  @apply flex items-center justify-center;
}

.flex-i-center {
  @apply flex items-center;
}

.flex-j-center {
  @apply flex items-center;
}

.wh-full {
  @apply w-full h-full;
}

.wrapper-sm {
  min-height: calc(100vh - 18.5rem);
}

.wrapper {
  min-height: calc(100vh - 4rem);
}
